#!/usr/bin/make -f
# debian/rules file - sicp
# Based on debian/rules file - for gawk-doc package (3.1.6).
# Copyright 1994,1995 by Ian Jackson.
# Copyright 1998-2007 James Troup
# Copyright 2011 Alexander Zhukov
# I hereby give you perpetual unlimited permission to copy,
# modify and relicense this file, provided that you do not remove
# my name from the file itself.  (I assert my moral right of
# paternity under the Copyright, Designs and Patents Act 1988.)
# This file may have to be extensively modified

pkg := sicp
install_dir	:= install -d -m 755
install_file	:= install -m 644
install_script	:= install -m 755

build:
	make

clean:
	#$(checkdir)
	make clean
	find . -name \*~ | xargs rm -vf
	rm -rf debian/tmp debian/files* debian/substvars

binary-indep: checkroot build
	#$(checkdir)
	rm -rf debian/tmp
	$(install_dir) debian/tmp/DEBIAN/
	$(install_script) debian/postinst debian/prerm debian/tmp/DEBIAN/

	$(install_dir) debian/tmp/usr/share/info/
	$(install_file) sicp.info.gz debian/tmp/usr/share/info/

	$(install_dir) debian/tmp/usr/share/doc/$(pkg)
	$(install_file) debian/copyright debian/tmp/usr/share/doc/$(pkg)
	$(install_file) debian/changelog debian/tmp/usr/share/doc/$(pkg)/changelog.Debian
	find $(CURDIR)/debian/tmp/usr/share/doc/$(pkg)/ -maxdepth 1 -type f ! -name copyright | xargs gzip -9

	dpkg-gencontrol -isp
	chown -R root.root debian/tmp
	chmod -R go=rX debian/tmp
	dpkg --build debian/tmp ..

binary-arch:

# Below here is fairly generic really
binary: binary-indep binary-arch

define checkdir
	test -f doc/gawk.texi -a -f debian/rules
endef

checkroot:
	#$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot patch unpatch
